.qb {
  background-color: #a0ced9;
}

.rb {
  background-color: #ffee93;
}

.wr {
  background-color: #ffc09f;
}

.te {
  background-color: #adf7b6;
}

.k {
  background-color: #eac4d5;
}

.dst {
  background-color: #e8dff5;
}

.title {
  color: white;
  text-align: center;
  font-size: 30px;
}

.card {
  box-shadow: 3px;
  border: 1px solid #636363;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 2px 2px 2px 2px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.player-filter {
  background-color: #fff;
  width: 50%;
}

.column-setter {
  background-color: #fff;
  width: 50%;
}

.tool-bar {
  background-color: #636363;
  margin: 40px 40px 40px 40px;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  display: flex;
  gap: 20px;
}

.list-container {
  margin: 40px 40px 40px 40px;
  padding: 10px 10px 10px 10px;
  background-color: #3b3b3b;
}

html {
  background-color: #222222;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
