.qb {
  background-color: #a0ced9;
}

.rb {
  background-color: #ffee93;
}

.wr {
  background-color: #ffc09f;
}

.te {
  background-color: #adf7b6;
}

.k {
  background-color: #eac4d5;
}

.dst {
  background-color: #e8dff5;
}
